@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --color-primary: #4F46E5;
    --color-primary-hover: #4338CA;
    --color-secondary: #0F172A;
    --color-accent: #38BDF8;
}
